{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>전기차 밥주기</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="{% static 'imgs/충전소 아이콘.png' %}">
    <!--Google fonts links-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap1.min.css' %}">



    <!--For Plugins external css-->
    <link rel="stylesheet" href="{% static 'css/plugins1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/roboto-webfont.css' %}" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{% static 'css/responsive1.css' %}" />


    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

    <script src="{% static 'js/modernizr1-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>-->


    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"><img src="{% static 'imgs/충전소 아이콘.png' %}" alt="Logo" /></a>

                <a class="navbar-brand" href="#">전기차 밥주기</a>
                <!-- <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo" /></a> -->


            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#features">PRODUCT</a></li>
                        <li><a href="#service">Service</a></li>
                        <li><a href="#price">PRICE</a></li>
                        <li><a href="#business">Business</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="login"><a href="#">Sign In</a></li>
                    </ul>

                </div> -->
            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--Home page style-->
    <header id="home" class="home">
        <div class="overlay-fluid-block">
            <div class="container text-center">
                <div class="row">
                    <div class="home-wrapper">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="home-content">

                                <h1>전기차 충전소 찾기</h1>
                                <!-- <p>Blue Lance transforms your company's data into rich visuals for you to collect and organize so you can focus on what matters to you. Stay in the know, spot trends as they happen, and push your business further.</p> -->

                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                        <div class="home-contact">
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                    placeholder=" 읍/면/동 또는 충전소명을 입력해주세요.">
                                                <input type="submit" class="form-control" value="search">

                                            </div><!-- /input-group -->


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Sections -->
    <section id="features" class="features sections">
        <div id="map" style="width: 1650px;height: 600px; margin-top: 10px; margin-right: 10px;"></div>
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	7b7dffece7f810aece8a2b50bb853828"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 마커를 표시할 위치와 title 객체 배열입니다 
            var positions = [
                {
                    title: '카카오',
                    latlng: new kakao.maps.LatLng(37.31201, 127.817375)
                },
                {
                    title: '생태연못',
                    latlng: new kakao.maps.LatLng(33.450936, 126.569477)
                },
                {
                    title: '텃밭',
                    latlng: new kakao.maps.LatLng(33.450879, 126.569940)
                },
                {
                    title: '근린공원',
                    latlng: new kakao.maps.LatLng(33.451393, 126.570738)
                }
            ];

            // 마커 이미지의 이미지 주소입니다
            var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

            for (var i = 0; i < positions.length; i++) {

                // 마커 이미지의 이미지 크기 입니다
                var imageSize = new kakao.maps.Size(24, 35);

                // 마커 이미지를 생성합니다    
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng, // 마커를 표시할 위치
                    title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                    image: markerImage // 마커 이미지 
                });
                //-------------------------------------------------------------------
                // 다른 이미지로 마커 표시하기 => 전기차 충전소 이미지로 표시할 예정
                //--------------------------------------------------------------------------
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = {
                        center: new kakao.maps.LatLng(37.54699, 127.09598), // 지도의 중심좌표
                        level: 4 // 지도의 확대 레벨
                    };

                var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png', // 마커이미지의 주소입니다    
                    imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
                    imageOption = { offset: new kakao.maps.Point(27, 69) }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

                // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                    markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); // 마커가 표시될 위치입니다

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    position: markerPosition,
                    image: markerImage // 마커이미지 설정 
                });

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);
            }     
        </script>




        <!-- <div class="container">
                <div class="row">
                    <div class="main_features_content2">

                        <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img src="assets/images/feature-2.jpg" alt="" />
                            </div>
                        </div>

                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>OUR PRODUCT</h2>
                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                                <ul>
                                    <li>Quisque volutpat mattis eros.</li>
                                    <li>Nullam malesuada erat ut turpis.</li>
                                    <li>Suspendisse urna nibh.</li>
                                </ul>
                                <div class="features_buttom">
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
    </section>
    <!-- End of Features 2 Section -->
    <section id="features" class="features sections">
        <div class="container">


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">충전소 명</th>
                        <th scope="col">충전소 주소</th>
                        <th scope="col">충전기 상태</th>
                        <th scope="col">충전기 타입</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>서울충전소</td>
                        <td>서울시 ㅇㅇ구 ㅇㅇㅇㅇ</td>
                        <td>충전가능</td>
                        <td>c타입</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>경기도 충전소</td>
                        <td>경기도 남양주시 ㅇㅇㅇㅇ</td>
                        <td>충전 불가능</td>
                        <td>a타입</td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>강원도 충전소</td>
                        <td>강원도 ㅇㅇ시 ㅇㅇㅇㅇ</td>
                        <td>충전가능</td>
                        <td>a타입</td>

                    </tr>
                </tbody>
            </table>


            <section id="footer-menu" class="sections footer-menu">




                <div id="bottom_main"
                    style="padding-top: 40px; padding-bottom:10px;width:1130px;height:30px;line-height:30px;margin:auto;text-align:center;font-size:18px;color:black">
                    @ 전기차 밥주기 전국 전기차충전소 정보 | 데이터출처 : 한국전력공사
                </div>
                <!-- <div class="container">
                <div class="row">
                    <div class="footer-menu-wrapper">

                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Quick Links</h5>
                                    <ul>
                                        <li>POWER BI DESKTOP</li>
                                        <li>MOBILE</li>
                                        <li>SEE ALL DOWNLOADS</li>
                                        <li>POWER BI DESKTOP</li>
                                        <li>MOBILE</li>
                                        <li>SEE ALL DOWNLOADS</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Legal</h5>
                                    <ul>
                                        <li>PRIVACY & COOKIES</li>
                                        <li>TERMS OF USE</li>
                                        <li>TRADEMARKS</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Information</h5>
                                    <ul>
                                        <li>SUPPORT</li>
                                        <li>DEVELOPERS</li>
                                        <li>BLOG</li>
                                        <li>NEWSLETTER</li>
                                        <li>PYRAMID ANALYTICS</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="menu-item">
                                <h5>Newsletter</h5>
                                <p>Insights await in your company's data. Bring them into focus with BlueLance.</p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter your email address">
                                    <input type="submit" class="form-control" value="Use It Free">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
            </section>

            <!--Footer-->
            <footer id="footer" class="footer">
                <div class="container">
                    <div class="row">
                        <!-- <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                <img src="assets/images/logo.png" alt="logo" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://bootstrapthemes.co"> Bootstrap Themes </a>2016. All rights reserved.</p>
                            </div>

                            <div class="copyright">
                                <p>Distributed<i class="fa fa-heart"></i> by <a target="_blank" href="https://themewagon.com/">Themewagon</a>2016. All rights reserved.</p>
                            </div>

                        </div>
                        
                    
                    </div> -->
                    </div>
                </div>
            </footer>


            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div>


            <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
            <script src="{% static 'js/bootstrap1.min.js' %}"></script>

            <script src="{% static 'js/plugins1.js' %}"></script>
            <script src="{% static 'js/modernizr1.js' %}"></script>
            <script src="{% static 'js/main1.js' %}"></script>
</body>

</html>