{% extends "base.html" %}
{% load static %}
{% block part_style %}



{% endblock %}

{% block title %} 포트폴리오 웹페이지 {% endblock %}

{% block content %}

<!--
                ==================================================
                Slider Section Start
                ================================================== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>안녕하세요 성장하는 개발자 배준호입니다.</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">소통하는 개발자</b>
                                <b>BACKEND</b>
                                <b>DJANGO</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                        한림대학교 컴퓨터공학과 졸업<br>
                        하이미디어 빅데이터 과정 수료

                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green"
                        data-wow-delay=".9s" href="works" data-section="#works">View Works</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!--/#main-slider-->
<!--
                    ==================================================
                    Slider Section Start
                    ================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                        ABOUT ME
                    </h2>
                    <p>
                    <h3>* 서울시 관악구 거주<br></h3>
                    * INFJ<br>
                    * 노란색을 좋아합니다.<br>
                    * 개발환경: <i class="fas fa-apple-alt"></i>
                    </p>
                    <p>
                    <h3>* 쭈노마켓 창업(전자기기 수리 및 매입)<br></h3>
                    * 구래구래 창업(블록체인 스타트업)<br>
                    <자격증 목록><br>
                        * 유통관리사
                        </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="{% static 'imgs/homebg.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#about -->
<!--
    
                    ==================================================
                    Portfolio Section Start
                    ================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">사용가능한 언어</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                백엔드 기술 위주로 준비하였습니다.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <img class="test1" src="{% static 'imgs/html.png' %}" alt="html">

                            <!-- <i class="ion-ios-flask-outline"></i> -->
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">HTML</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <img class="test1" src="{% static 'imgs/CSS.png' %}" alt="html">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">CSS</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <img class="test1" src="{% static 'imgs/js.png' %}" alt="js">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">JavaScript</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-left">
                        <div class="icon">
                            <img class="test1" src="{% static 'imgs/java.png' %}" alt="java">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">JAVA</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                    <div class="media-left">
                        <div class="icon">
                            <img class="test1" src="{% static 'imgs/python.png' %}" alt="python">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Python</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <img class="test1" src="{% static 'imgs/solidity.png' %}" alt="solidity">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Solidity</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#feature -->
<!--
                    ==================================================
                    Portfolio Section Start
                    ================================================== -->
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">활동 프로젝트</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                대학교 재학중 활동한 프로젝트입니다.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/electro_charger.jpeg' %}" class="img-responsive"
                            alt="this is a title">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox"
                                    href="{% static 'imgs/electro_charger.jpeg' %}">Demo</a>
                                <a target="_blank" href="{% url 'dashboard:dashboard' %}">자세히보기</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="{% url 'single_page:aboutme' %}">
                                전기차 밥주기
                            </a>
                        </h4>
                        <p>
                            카카오 API, 한국전력공사 API를 활용한 내 주변 전기차 충전소 찾기
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/portfolio/item-2.jpg' %}" class="img-responsive"
                            alt="this is a title">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox"
                                    href="{% static 'images/portfolio/item-2.jpg' %}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Bottle Mockup
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/portfolio/item-3.jpg' %}" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-3.jpg">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Table Design
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/portfolio/item-4.jpg' %}" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox"
                                    href="{% static 'imgs/portfolio/item-4.jpg' %}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Make Up elements
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/portfolio/item-5.jpg' %}" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-5.jpg">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Shoping Bag Concept
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/portfolio/item-6.jpg' %}" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox"
                                    href="{% static 'imgs/portfolio/item-6.jpg' %}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Caramel Bottle
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor.
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section> <!-- #works -->
<!-- 활동내역 시작 -->
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">활동내역</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet
                est. Aenean posuere <br> tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor
                sagittis lacus.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/작업량.png' %}" class="img-responsive" alt="this is a title">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="{% static 'imgs/작업량.png' %}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                쭈노마켓 창업
                            </a>
                        </h4>
                        <p>
                            전자기기 매입, 수리 및 수출을 주 업으로 합니다
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/blockchain.jpg' %}" class="img-responsive" alt="this is a title">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="{% static 'imgs/blockchain.jpg' %}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                구래구래 창업
                            </a>
                        </h4>
                        <p>
                            과학기술정보통신부 및 한림대학교의 도움을 받아 창업하였습니다.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/mbc.png' %}" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-3.jpg">Demo</a>
                                <a target="_blank" href="https://youtu.be/S450ZpaAZ-Q?t=420">영상재생</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Table Design
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/portfolio/item-4.jpg' %}" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox"
                                    href="{% static 'imgs/portfolio/item-4.jpg' %}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Detail</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                평창올림픽
                                테스트이벤트 봉사활동
                            </a>
                        </h4>
                        <p>
                            평창올림픽 TECH팀에서 시설관련 작업에 도움을 주었습니다.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/portfolio/item-5.jpg' %}" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/item-5.jpg">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Shoping Bag Concept
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="img-wrapper">
                        <img src="{% static 'imgs/portfolio/item-6.jpg' %}" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox"
                                    href="{% static 'imgs/portfolio/item-6.jpg' %}">Demo</a>
                                <a target="_blank" href="single-portfolio.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="#">
                                Caramel Bottle
                            </a>
                        </h4>
                        <p>
                            Lorem ipsum dolor.
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- 수상내역 종료 -->



<!--
                    ==================================================
                    Call To Action Section Start
                    ================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT YOU THINK ?
                        </h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus
                            vero magni recusandae? Dolore, maxime praesentium.</p>
                        <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
                            data-wow-duration="500ms">Contact With Me</a>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock content %}