{% extends "base.html" %}
{% load static %}
{% block title %}장고 프로젝트 홈{% endblock %}

{% block part_style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<link rel="icon" href="favicon.ico" type="image/x-icon">
<script defer src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
{% endblock part_style %}

{% block content %}
<title>포트폴리오 웹페이지</title>


<div class='article_box'>
    <table class="table table-bordered table table-condensed table-striped">
        <tr class="table-primary">
            <th>제목</th>
            <th>이름</th>
            <th>작성 날짜</th>
        </tr>
        {% for article in latest_article_list %}
        <tr>
            <td><a href="/community/view_detail/{{article.id}}">{{article.title}}/a></td>
            <td>{{ article.name }}</td>
            <td>{{ article.cdate | date:"Y년 M d일 D" }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a class="border p-2" href="/community/list/">전체 목록보기</a>&nbsp;&nbsp;&nbsp;
        <a class="border p-2" href="/community/write/">메모 작성하기</a>
    </p>
</div>

<p class='main_img'> <img src="{% static '/imgs/image.jpg' %}" alt="오로라 이미지">
</p>
<p class='main_img'> <img src="{% static '/imgs/image.jpg' %}" alt="오로라 이미지">
</p>

{% endblock %}