{% extends "base.html" %}
{% block title %}{{ object.pk }}번글 세부내용{% endblock %}

{% block content %}
<div>
  <table>
    <tr>
      <th>no</th>
      <td>{{ object.pk }}</td>
    </tr>
    <tr>
      <th>제목</th>
      <td>{{ object.title}}</td>
    </tr>
    <tr>
      <th>작성자</th>
      <td>{{ object.name}}</td>
    </tr>
    <tr>
      <th>내용</th>
      <td>{{ object.contents }}</td>
    </tr>
    <tr>
      <th></th>
      <td>{{ object.url }}/td>
    </tr>
    <tr>
      <th></th>
      <td>{{ object.email }}</td>
    </tr>
    <tr>
      <th></th>
      <td>{{ object.cdate }}</td>
    </tr>
  </table>
</div>
<div>
<br>
<button><a href="{% url 'community:update' object.id %}">수정</a></button>
<button><a href="{% url 'community:delete' object.id %}">삭제</a></button>

</div>
  {% endblock content %}