<!-- 상속을 통해서 내비바에서 넘어갈 수 있도록 해줌 -->
{% extends "partials/base.html" %}
{% block title %} {{article_detail.pk}} 번글 세부내용 {% endblock %}
 
{% block content %}
<table>
    <tr>
            <td>no</td>
            <td>{{ article_detail.pk}}</td>
    </tr>
    <tr>
            <td>제목</td>
            <td>{{ article_detail.title }} </td>
    </tr>
    <tr>
            <td>저자</td>
            <td>{{ article_detail.name }} </td>
    </tr>
    
    <tr>
            <td>내용</td>
            <td>{{ article_detail.contents }} </td>
    </tr>
    <tr>
            <td>Email</td>
            <td>{{ article_detail.email }}</td>
    </tr>
    </table>

{% endblock %}