<!-- 상속을 통해서 내비바에서 넘어갈 수 있도록 해줌 -->
{% extends "base.html" %}
{% block title %} 글 작성{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Django</title>
</head>
{% block content %}
<body>
    <form action="" method="post">
        <table>
            {{ form }} {% csrf_token %}
        </table>
        <button type="submit" >확인</button>
        </form>
</body>
{% endblock %}
</html>