{% extends "./partials/base.html" %}
{% block title %}장고 프로젝트 홈{% endblock %}

{% block part_style %}
        <style>
            .article_box{
              width: 500px;
              background-color: rgb(213, 214, 214);
            }
            p > span{
              padding: 10px 20px;
              text-align: center;
            }
            p > span:first-of-type{
              width: 150px;
              display: inline-block;
            }
            ul {
              border-top: 2px solid gray;
            }
            ul > li> span{
              margin: 5px;
            }
            ul > li> span:first-of-type{
              width: 150px;
              display: inline-block;
            }
          </style>
{% endblock %}

{% block content %}
        <div class="article_box">
            <p><span>제목</span> 
                <span>이름</span> 
                <span>작성날짜</span>
            </p>

            <ul>
                {% for article in latest_article_list %}
                <li>
                    <span><a href="community/view_detail/{{article.id}}">{{article.title}}</a></span>
                    <span>{{article.name}}</span>
                    <span>{{article.cdate | date:"Y년 M d일 D"}}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
<p><a href="community/list/">전체 목록보기</a></p>
    <button><a href = "community/write/">메모하기</a></button>
    
    <p><img src = "./imgs/image01.jpeg" alt = "오로라 이미지"></p>
    {% endblock %}