<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<table>
    <tr>
            <td>no</td>
            <td>{{ article_detail.pk}}</td>
    </tr>
    <tr>
            <td>제목</td>
            <td>{{ article_detail.title }} </td>
    </tr>
    <tr>
            <td>저자</td>
            <td>{{ article_detail.name }} </td>
    </tr>
    
    <tr>
            <td>내용</td>
            <td>{{ article_detail.contents }} </td>
    </tr>
    <tr>
            <td>Email</td>
            <td>{{ article_detail.email }}</td>
    </tr>
    </table>
<body>

    
</body>
</html>