<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
, initial-scale=1.0">
<title>프로필카드</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<script src="https://kit.fontawesome.com/c47106c6a7.js" 
crossorigin="anonymous"></script>
<link rel="pasted" href="./profile_card.css">
<link rel="stylesheet" href="../ch8.css">

<link rel="stylesheet" href="./ch7.css/ch7_profile_day5.css">


<script defer src="js/ie.js"></script>
    
</head>
<body>
    <header>
        <div class = "inner">
            <h1><a href = "../ch8.html">JunhoBae</a></h1>

            <ul id = "gnb">
                <li><a href="./ch7_bussiness_card/ch7_profile_day5.html ">디지털명함</a></li>
                <li><a href = "#">개발</a></li>
                <li><a href = "#">수상내역</a></li>
                <li><a href = "#">다짐</a></li>
            </ul>
            <ul class="util">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Join</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
            </div>
            </header>
    <section>
        <nav class="menu">
            <a href="#"><i class = "fas fa-bars"></i></a>
            <a href="#"><i class = "far fa-sticky-note"></i></a>
        </nav>
        <article class="profile">
            <img src="./증명사진.jpg" alt="프로필 이미지">
            <h1>JUNHOLAB</h1>
            <h2>DJANGO BACKEND DEVELOPER</h2>

            <a href="#" class="btnView">VIEW MORE</a>
        </article>
        <!-- 인스타, 구글 메일 주소 -->
        <ul class="contact">
            <li>
                <i class="fab fab fa-instagram"></i>
                <span>Visit My Instagram page.</span>
            </li>
            <li>
                <i class="fab fab fab fa-google"></i>
                <span>qo980120@gmail.com</span>
            </li>
        </ul>
        <!-- 선택한 프로필 카드의 버튼만 활성화 시키기 class="on" -->
        <nav class = "others">
            <a href="member1.html" class="on"></a>
            <a href="member2.html" class="on"></a>
            <a href="member3.html" class="on"></a>
            <a href="member4.html" class="on"></a>
        </nav>
        <!-- 멤버별 프로필완성 -->
        <body class = "member1"></body>
    </section>
        
    
</body>
</html> 