<!-- Footer-->
<!-- <footer class="py-5 bg-dark fixed"> -->

<!--
                        ==================================================
                        Footer Section Start
                        ================================================== -->
<footer id="footer" class="py-5 bg-dark fixed-bottom">
    <div class="container">


        <div class="col-md-4">
            <!-- Social Media -->
            <ul class="social">
                <!-- <li>
                    <a href="http://www.twitter.com"><i class="fa fa-phone"></i>&nbsp; 010-5858-2636
                    </a>
                </li>
                <li>

                    <a href="http://www.twitter.com"><i class="fa fa-google"></i>&nbsp; qo61111@gmail.com
                    </a>
                </li> -->

            </ul>
        </div>
        <p class="m-0 text-center text-white">Copyright &copy; 배준호_2022</p>
    </div>
</footer>