<div class="nav navbar-dark bg-primary">
<div class ="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <span class="navbar-brand mx-5 mb-0 font-weight-bold font-italic"><a class="nav-link text-white" href="">COZLAB</a></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item mx-1 btn btn-primary">
                  <a class="nav-link text-white" href="/aboutme">About Me </a></li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/dashboard/">대쉬보드</a></li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/community/write/">메모작성</a></li>
        <!-- 드롭다운 바 생성 -->
                  <li class="nav-item dropdown mx-1 btn btn-primary">
                      <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Util</a></a>
                      <div class="dropdown-menu">
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> -->
                          <a class="dropdown-item" href="/community/list/">메모리스트</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/community/write/">메모작성</a>
                          <a class="dropdown-item" href="/community/view_detail/2/">더보기(메모디테일)</a>
                        </div>
                    </li>
            </ul>
       <!-- 로그인 인증 -->
       <ul class="navbar-nav ml-5 mr-5">
        <li class="nav-item dropdown mx-1 btn btn-primary">
​
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
              <i class="fas fa-user-lock"></i>&ensp; &ensp;</a>
​
            <div class="dropdown-menu">
              <a class="dropdown-item" href="">Logout</a>
              <a class="dropdown-item" href="">Change Password</a>
            </div>
​
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
              <i class="fas fa-lock-open"></i>&ensp;Anonymous&ensp;</a>
​
​
            <div class="dropdown-menu">
              <a class="dropdown-item" href="">Login</a>
              <a class="dropdown-item" href="">Register</a>
            </div>
            
          </li>
        </ul>
    </div>

  </nav>
</div>