{% load static %}
<!-- nav바 상단 고정 해제 -->
<header id="top-bar" class="navbar-top animated-header">
    <!-- <header id="top-bar" class="navbar-fixed-top animated-header"> -->
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <div class="navbar-brand">
                <a href="{% url 'single_page:index' %}">
                    <img src="{% static 'imgs/logo.png' %}" alt="">
                </a>
            </div>
            <!-- /logo -->
        </div>
        <!-- main menu -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <div class="main-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'single_page:aboutme' %}">aboutMe</a>
                    </li>

                    <li><a href="{% url 'dashboard:dashboard' %}">프로젝트</a></li>
                    <!-- 연락처 => 개인 명함 포스터 -->
                    <li><a href="contact.html">연락처</a></li>
                    <!-- ____________________________________명함 링크 오류 -->
                    <li><a href="{% url 'single_page:profile_card' %}">명함</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">util <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="{% url 'admin:index' %}">관리페이지</a></li>
                                <li><a href="{% url 'community:write' %}">질문작성</a></li>
                                <li><a href=" {% url 'community:change_list' %}">메모 수정 리스트</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">방문자<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="{% url 'login' %}">로그인</a></li>
                                <li><a href="{% url 'register' %}">회원가입</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
        <!-- /main nav -->
    </div>
</header>