
<div class = "nav bg-light">
<div class = "nav_var container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Naver<span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/aboutme">About Me </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/">대쉬보드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community/write/">메모작성</a>
        </li>
        <!-- 드롭다운 바 생성 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            더보기
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/community/list/">메모리스트</a>
            <a class="dropdown-item" href="/community/write/">메모작성</a>
            <a class="dropdown-item" href="/community/view_detail/2/">더보기(메모디테일)</a>
          </div>
        </li>
      </ul>
    </div>

  </nav>
</div>