<div class="nav navbar-dark bg-primary">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <span class="navbar-brand mx-5 mb-0 font-weight-bold font-italic"><a class="nav-link text-white"
          href="{% url 'single_page:index' %}">Naver</a></span>
      <!-- href="{% url 'single_page:index' %}" 앱이름:path이름 -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-1 btn btn-primary">
            <a class="nav-link text-white" href="{% url 'single_page:aboutme' %}">AboutMe</a>
          </li>
          <li class="nav-item mx-1 btn btn-primary">
            <a class="nav-link text-white" href="{% url 'community:article_list' %}">메모 목록</a>
          </li>
          <li class="nav-item mx-1 btn btn-primary">
            <a class="nav-link text-white" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
          </li>

          <li class="nav-item dropdown mx-1 btn btn-primary">
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Util</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'community:write' %}">메모 작성</a>
              <a class="dropdown-item" href="{% url 'community:change_list' %}">변경 가능 리스트</a>
            </div>
          </li>
        </ul>
        <!-- 로그인 인증 -->
        <ul class="navbar-nav ml-5 mr-5">
          <li class="nav-item dropdown mx-1 btn btn-primary">
            {% if user.is_active %}
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
              <i class="fas fa-user-lock"></i>&ensp; &ensp;{% firstof user.get_short_name user.get_username %}</a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
            </div>
            {% else %}
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
              <i class="fas fa-lock-open"></i>&ensp;Anonymous&ensp;</a>


            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'login' %}">Login</a>
              <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            </div>
            {% endif %}
          </li>
        </ul>

      </div>
    </nav>
  </div>
</div>

<!-- <p> <i class="fas fa-apple-alt"> 내 소개</p> -->


<!-- header => 웹페이지 상단 메뉴 -->
<!-- <header>
    <div class="inner">
        <h1><a href="../ch8.html">JunhoBae</a></h1>

        <ul id="gnb">
            <li><a href="./ch7_bussiness_card/ch7_profile_day5.html ">디지털명함</a></li>
            <li><a href="#">개발</a></li>
            <li><a href="#">수상내역</a></li>
            <li><a href="https://goo.gl/maps/FMtuTmx72J81issG9">위치</a></li>
        </ul>
        <ul class="util">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Join</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
    </div>
</header> -->
<!-- 사용자 크기에 상관없이 한 화면에 header 및 figure 모두 보임
    배경 동영상 무한반복재생 -->
<!-- <figure>
    <video src="./img/회오리배경.mp4" autoplay muted loop></video>
    <div class="inner">
        <h1>DJANGO BACKEND PROGRAMMER</h1>
        <p> 실전에 강한 개발자</p>
        <a href="#"> Click More</a>
    </div>
</figure> -->
<!-- section -->
<!-- <section>
    <div class="inner">
        <h1>Main Events</h1>
        <div class="wrap"> -->
<!-- article 반복 가능 -->
<!-- <article>
                <div class="pic">
                    <img src="{% static 'imgs/작업량.png' %}" alt="자바이미지">
                </div>
                <h2><a href="#">쭈노마켓 창업</a></h2>
                <p>전자기기 매입, 수리 및 수출을 주 업으로 합니다.</p>
            </article>
            <article>
                <div class="pic">
                    <img src="{% static 'imgs/구래구래.png' %}" alt="파이썬 이미지">
                </div>
                <h2><a href="#">구래구래 창업</a></h2>
                <p>과학기술정보통신부 및 한림대학교의 도움을 받아 창업하였습니다. <br></p>
            </article>
            <article>
                <div class="pic">
                    <img src="{% static 'imgs/kgs_logo.jpg' %}" alt="https://youtu.be/S450ZpaAZ-Q?t=420">
                </div>
                <h2><a href="#">한국가스안전공사 근무경험</a></h2>
                <p>한국가스안전공사 에너지안전실증연구센터에서 스카다시스템을 이용해 수소저장소탱크 안정성 테스트를 진행하였습니다.</p>
            </article>
            <article>
                <div class="pic">
                    <img src="{% static 'imgs/mbc.png' %}" alt="블록체인이미지">
                </div>
                <h2><a href="https://youtu.be/S450ZpaAZ-Q?t=420">춘천mbc 방송출연(클릭)</a></h2>
                <p>블록체인 기술 관련 인터뷰를 진행하였습니다.</p>
            </article>
        </div>
    </div>
</section> -->
<!-- footer영역 완성 -->
<!-- <section>
    <div class="inner">
        <h1>Awards</h1>
        <div class="wrap"> -->
<!-- article 반복 가능 -->
<!-- <article>
                <div class="pic">
                    <img src="{% static 'imgs/award1.png' %}" alt="상장1">
                </div>
                <h2><a href="#">창업아이디어 경진대회_금상</a></h2>
                <p></p>
            </article>
            <article>
                <div class="pic">
                    <img src="{% static 'imgs/award2.png' %}" alt="상장2">
                </div>
                <h2><a href="#">창업아이디어 경진대회_은상</a></h2>
                <p></p>
            </article>
            <article>
                <div class="pic">
                    <img src="{% static 'imgs/award3.png' %}" alt="상장3">
                </div>
                <h2><a href="#">창업아이디어 경진대회_동상</a></h2>
                <p> </p>
            </article>
            <article>
                <div class="pic">
                    <img src="{% static 'imgs/award4.png' %}" alt="상장4">
                </div>
                <h2><a href="#">깃허브 이력서 콘테스트_금상</a></h2>
                <p></p>
            </article>
            <article>
                <div class="pic">
                    <img src="{% static 'imgs/award5.png' %}" alt="상장5">
                </div>
                <h2><a href="#">파이썬 프로그래밍대회_동상</a></h2>
                <p> </p>
            </article>

        </div>
    </div>
</section> -->
<!-- footer영역 완성 -->
<!-- <footer>
    <div class="inner">
        <div class="upper">
            <h1>JunhoBae</h1>
            <ul>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Family</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>

        <div class="lower">
            <address>
                qo61111@gmail.com<br>
                010-5858-2636
            </address>
            <p>
                2022 JunhoBae &copy; copyright all right reserved.
            </p>
        </div>
    </div>
</footer> -->